<h1>Hello Search</h1>
  <!-- Text -->
  
  
  <!-- Table -->
  <!-- <div class="container">
    <h1>Animal List</h1>
    <hr>
    <i id="spin-icon" class="fa-solid fa-spinner fa-spin-pulse" style="font-size: 3em;"></i>
    <div id="message-box" class="alert alert-warning d-none">
      There are no animals in local storage
    </div>
    
    <nav id ="pagination" class="d-none" aria-label="Animal List Navigation">
      <ul class="pagination">
      </ul>
    </nav>

    <table id="animal-list" class="table table-striped d-none">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Details</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
   </div>
  
  Modal -->
  <!-- <div class="modal" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Animal</h5>
        </div>
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer" id="confirmation">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button id="delete-button" type="button" class="btn btn-danger">
            Delete
            <i id="x-icon" class="fa-solid fa-x"></i>
            <i id="spin-delete-icon" class="d-none fa-solid fa-spinner fa-spin-pulse"></i>
          </button>
        </div>
      </div>
    </div>
  </div> -->