/*
    Name: Connor Smith
    Filename: style.css
    Course: INFT 2202
    Date: January 9, 2025
    Description: This is the general styling sheet
*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    text-align: center;
}

i.fa-arrow-left, i.fa-arrow-right {
  color: #0D6EFD;
  font-size: 2em;
}   
